.filter-wrapper{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}


.form-control{
    display: flex;
    gap: 20px;
    flex-direction: row !important;
    align-items: center;
}