/* .custom-card {
  display: flex;
  flex-direction: row !important;
  justify-content: space-evenly !important;
  width: 450px;
  min-height: 150px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: 0.3s ease-in-out;
} */

/* .custom-card:hover {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
} */

/* .card-image {
  width: 200px;
  height: 200px;
  object-fit: contain;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
} */

/* .custom-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  gap: 8px;
  width: 100px;
} */
