.welcome_text{
    color: black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}

.navbar{
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: center;
    gap: 70px;
    background: purple;
}

.logout_button{
    color: white;
}

.link{
    color: white;
}

.line_chart{
    display: flex;
    gap: 100px;
    margin: 70px auto;
    width: 1200px;
    height: 400px;
    text-align: center;
    /* background: black; */
}