* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.header-section {
  background-color: #F9FAFB;
  color: white;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  color: black;
}

.header-section h1 {
  font-size: 32px;
}

.header-section p {
  margin-top: 5px;
  font-size: 16px;
}

.form-section {
  padding: 30px;
}

.card-section {
  background: #F9FAFB;
  padding: 30px;
}

.events-title{
  text-align: center;
  margin: 20px;
}