.container{
    text-align: 'center';
    margin-top: '50px'
}

input {
  padding: 8px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid gray;
}

button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
