.appContainer {
  min-height: 100vh;
  background: #f5f7fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 40px 20px; */
  /* font-family: 'Segoe UI; sans-serif'; */
}

.title {
  font-size: 2.2rem;
  margin-bottom: 20px;
  color: #2c3e50;
  font-weight: 600;
}
