* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.header-section {
  /* background-color: #F9FAFB; */
  background-color: #5A827E;
  color: white;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  /* color: black; */
}

.header-section h1 {
  font-size: 32px;
}

.header-section p {
  margin-top: 5px;
  font-size: 16px;
}

.form-section {
  /* background-color: #FAFFCA; */
  padding: 30px;
}

.card-section {
  /* background: #F9FAFB; */
  /* background-color: #B9D4AA; */
  padding: 30px;
}

.card-container {
    /* background-color: #5A827E; */

  background-color: #FAFFCA;
  padding: 30px;
  width: 82vw;
  overflow-x: auto;
  margin: 30px auto;
  display: flex;
  flex-wrap: nowrap; 
  gap: 30px;
  /* justify-content: flex-start; */
}

.card-container::-webkit-scrollbar{
  display: none;
}


.events-title{
  text-align: center;
  margin: 20px;
}


.chart-section{
  padding: 40px 0;
  display: flex;
  justify-content: space-evenly;
  width: 85vw;
  height: 500px;
  margin: 50px auto;
}

.bar-chart{
  width: 700px;
  height: 400px;
}

